body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    text-align: center;
}

.product-info {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#products-container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 45%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: block;
}

.product-card.active {
    display: block;
    width: 45%;
    margin: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-price {
    font-weight: bold;
    font-size: 18px;
}

.product-quantity {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn, .remove-btn {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3498db;
    color: #fff;
    border:azure;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
}

.add-btn:hover,
.remove-btn:hover {
    background-color: #2980b9;
}

.quantity {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
}

.menu-categories {
    background-color: #0078D7;
    /* padding: 10px; */
    /* border-radius: 5px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 999;
    /* overflow-x: scroll; */
  }

.menu-categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu-categories li {
    display: flex;
    justify-content: center;
    max-width: 80px;
    max-height: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    /* padding: 10px; */
    margin-right: 2px;
    margin-left: 2px;
    flex-basis: 100%;
    /* text-align: center; */
    transition: all 0.3s ease-in-out;
}
.category-btn img {
    width: 100%;
    /* height: auto; */
    margin-bottom: 4px;
}

.menu-categories li:hover {
    background-color: #005A9C;
}

.menu-categories a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    /* border-radius: 5px; */
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center left;
    /* background-size: 40px; */
}
/*
.menu-categories a span {
    display: inline-block;
    margin-left: 50px;
}

.menu-categories a:hover {
    background-color: #005A9C;
} */

/* .menu-categories a:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
} */
