@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arialnarrow.ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #222;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#products-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);

}

.product-card {
    display: flex;
    /* width: calc(100vw - 35px); */
    width: 100vw;
    height: fit-content;
    margin: 5px 0px;
    padding: 10px;
    background: rgb(235, 250, 235);
    /* border: 1px solid #ccc; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* border-radius: 15px; */
    /* text-align: center; */
    /* justify-content: center; */
}

.product-card.active {
    /* display: flex; */
    /* width: calc(100vw - 35px); */
    width: 100vw;
    height: fit-content;
    margin: 5px 0px;
    padding: 10px 0px;
    background: rgb(235, 250, 235);
    /* border: 1px solid #ccc; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* border-radius: 15px; */
    /* text-align: center; */
    /* justify-content: center; */
}

.product-img {
    display: flex;
    /* height: 100px; */
    width: 100px;
    height: fit-content;
    margin: 0;
    padding: 0;
    align-items: center;

}

.product-data {
    /* display: flex; */
    width: calc(100vw - 149px);
    height: fit-content;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    /* align-items: center; */
    /* vertical-align: center; */
}

.product-title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}

.product-image {

    width: 100%;
    height: auto;
    /* line-height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* vertical-align: middle; */
    /* align-items: center; */
}

.product-composition {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.product-price {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    background: -webkit-linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    background: linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    font-weight: bold;
    font-size: 16px;
}

.product-quantity {
    display: flex;
    margin: 0;
    margin-top: -2px;
    padding: 0;
    min-height: 40px;
    align-items: center;
    /* vertical-align: center; */
    justify-content: center;
}

.add-btn, .remove-btn {
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #166D3B;
    color: #fff;
    border:azure;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

.quantity {
    /* display: inline-block; */
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
}

#menu {
  display: none;
}
label {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: .2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
}
label .fa-times {
  text-align: center;
  line-height: 5rem;
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 900;
}
.navbar ul li {
  margin: 1rem 0rem;
  text-align: center;
}
.navbar ul li a {
  font-size: 2.2rem;
  color: #fff;
  display: inline-block;
  text-shadow: 0.3s;
}

.navbar ul li a:hover {
  color: dodgerblue;
}
#menu:checked ~ .navbar {
  opacity: 1;
  visibility: visible;
}
#menu:checked ~ label .fa-bars {
  display: none;
}
#menu:checked ~ label .fa-times {
  display: block;
}
