@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arialnarrow.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Arial Narrow', sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    text-align: center;
}

#products-container {
    display: block;
    margin-top: 70px;
    width: 100vW-5px;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.product-card {
    display: block;
    width: 100vw - 10px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: left;
}

.product-card.active {
    display: block;
    width: 100vw - 10px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: left;
}

.product-img {
    display: inline-block;
    /* text-align: left; */
    width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
    /* border-radius: 15px; */
}

.product-data {
    display: inline-block;
    width: calc(100vw - 149px);
    height: fit-content;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.product-title{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
}

.product-image {
    width: 100%;
    height: auto;
}

/* .product-info {
    margin: 0;
    margin-top: -20px;
    padding: 0;
    font-size: 8px;
} */

.product-composition {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    font-size: 14px;
}

.product-price {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    background: -webkit-linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    background: linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    font-weight: bold;
    font-size: 16px;
}

.product-quantity {
    display: flex;
    margin: 0;
    margin-top: -10px;
    padding: 0;
    min-height: 40px;
    align-items: center;
    justify-content: left;
}

.add-btn, .remove-btn {
    width: 35px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background-color: #166D3B;
    color: #fff;
    border:azure;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

.quantity {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
}

.menu-categories {
    /* background-color: #d40071; */
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    z-index: 999;
    width: 100%;
    /* overflow: hidden; */
    /* position: relative; */
  }

.menu-categories ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* flex-wrap: wrap; */
}

.menu-categories li {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 4px;
    margin-left: 4px;
    /* transition: all 0.3s ease-in-out; */
}

.menu-categories a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    /* padding: 5px 10px; */
    background-repeat: no-repeat;
    /* background-position: center left; */
}
.menu-categories img {
    text-align: center;
    width: calc((100vw - 128px) / 7);
    max-width: 40px;
    margin-bottom: 5px;
}
span {
    display: block;
    text-align: center;
}
/* .menu-categories ul li {
    flex: 1;
} */
